name: MLflow CI Pipeline - Student Performance

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  schedule:
    - cron: "0 0 * * 0" 
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    # 1. Install Dependencies
    - name: Install Dependencies
      working-directory: MIProject # <-- Pindah ke folder MIProject
      run: |
        echo "Menginstal dependensi dari requirements.txt..."
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install mlflow # Memastikan MLflow terinstal

    # 2. Run Modelling Script
    - name: Run Modelling (Student Performance Dataset)
      working-directory: MIProject # <-- Tetap di MIProject
      run: python modelling.py

    # 3. Upload MLflow Artifacts
    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: training-results
        path: |
          MIProject/mlruns/
          math_preprocessing/student-mat_preprocessed.csv # File preprocessed yang disimpan di luar MIProject
        retention-days: 30