name: MLflow CI Pipeline - Student Performance

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  schedule:
    - cron: "0 0 * * 0"  # Setiap minggu
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas numpy scikit-learn mlflow

    # LANGKAH PREPROCESSING DIHAPUS jika sudah dilakukan sebelumnya

    - name: Run Modelling (Student Performance Dataset)
      run: |
        cd Membangun_model
        python modelling.py

    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: training-results
        path: |
          Membangun_model/mlruns/
          Membangun_model/math_preprocessing/student-mat_preprocessed.csv
        retention-days: 30
